{% extends 'security/index.html'%}{%block title %}Change Password {%endblock%}
{%block content%}
<div class="error"></div>
<form method="post" id="passwordForm">
  {%csrf_token%}

  <div class="mb-3 border_bottom">
    <label for="password">Password</label>
    <input name="password" type="password" id="password" class="form-control" />
  </div>
  <div class="mb-3 border_bottom">
    <label for="confirmpassword">Confirm Password</label>
    <input
      name="confirmpassword"
      type="password"
      id="confirmpassword"
      class="form-control"
    />
  </div>

  <div class="mb-3 text-center">
    <input class="button" type="submit" value="Changepassword" />
  </div>
</form>


{%endblock%} 
{%block script%}
<script>
      $(document).ready(function () {
    $("#passwordForm").on("submit", function (event) {
      event.preventDefault();

      var formData = new FormData(this);

      $.ajax({
        type: "POST",
        url: '{% url "forgotpassword"  %}',
        data: formData, // Use FormData object here
        processData: false, // Prevent jQuery from processing data
        contentType: false, // Prevent jQuery from setting content type
        success: function (data) {
          if (data.is_valid) {
            window.location.href = '{% url "signin" %}';
          } else {
            $(".error").text(data.error_message);
          }
        },
        error: function () {
          $(".error").text("Error occurred while validating");
        },
      });
    });
  });
</script>
{%endblock%}