{%extends 'admin/dashboard.html'%} {%block title%} Order Details {%endblock%} 
{% block bodycontent%}
{% csrf_token %}

<!--Cancellation Modal -->
<div
  class="modal fade"
  id="cancelConfimation"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="cancelConfimationLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="cancelConfimationLabel">
          Confimation
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form action="" id="cancelConfimationForm" method="post"> 
          {%csrf_token%} 
          <div class="mb-3 border_bottom">
            <label for="reason">Reson for Cancellation</label>
          <input class="form-control" required type="text" name="reason" id="reason">
          </div>


          <div class="">
            <p class="button" data-bs-dismiss="modal">cancel</p>
            <input class="button bg-danger" type="submit" value="Confirm">
          </div>
        </form>
      </div>
      
    </div>
  </div>
</div>

<div
  class="row mx-1 mb-3 row-gap-2 justify-content-center mx-2 row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xxl-4 row-gap-3 p-0"
>
  {%for i in items%}
  <div class="col overflow-hidden p-0">
    <div class="m-1 p-1 rounded-2 effect d-flex">
      <div class="row row-gap-3 row-cols-2">
        <div class="col">
          <img
            class="img-fluid rounded-5"
            src="{{i.product.product.image.url}}"
            alt=""
            loading="lazy"
          />
        </div>

        <div class="col d-flex align-items-center text_md">
          <div class="w-100">

            <div class="mb-2">
                <p class="text-break">{{i.product.product.name}}</p>
                <p>Qty: {{ i.quantity }}</p>
                <p>Size: {{i.product.size}}</p>
                <p>Unit Price: {{ i.unitprice}}</p>
                <p>Total Price: {{ i.product_price}}</p>
            </div>
            {%if not i.is_cancelled%}
            <div class="d-inline-block mb-2">
              <select class="px-2 status" name="status" id="{{i.id}}">
                {%for j in i.STATUS%}

                <option value="{{j.1}}" {%if i.status == j.1%} selected {%endif%}>{{j.1}}</option>
                {%endfor%}
              </select>
            </div>
           
            {%endif%}
          </div>
        </div>
        <div class="col-12 text-center">
          {%if i.is_cancelled%}
          <p class="text-danger p-1">Cancelled {{i.reason}}</p>
          {%else%}
          {%if i.status != 'Delivered'%}

          <p class="text-danger">status: {{i.status}}</p>

          <button
            type="button"
            class="button mb-2 cancel-item-button"
            data-item-id="{{i.id}}"
            data-bs-toggle="modal"
            data-bs-target="#cancelConfimation"
          >
            cancel item
          </button>
          {%endif%}
          
          {%endif%}
        </div>
      </div>
    </div>
  </div>
  {%endfor%}
</div>



{% if order.order_total > 0 %}
<div class="text-center">
  <div class="effect d-inline-block mx-2 mb-3 py-2 px-4 rounded-5">
    <p>delivey address</p>
    <p>{{order.address.name}} {{order.address.type_of_address}}</p>
    <p>
      {{order.address.phone_number}}, {{order.address.alternate_phone_number}}
      <br />{{order.address.house}}<br />{{order.address.road}}<br />
      {{order.address.pincode}} {{order.address.city}} {{order.address.state}}
    </p>
  </div>
  <div
    class="effect text-start align-top d-inline-block mx-2 mb-3 py-2 px-4 rounded-5"
  >
    <p>
      payment method:<strong class="text-danger"
        >{{order.payment_method}}</strong
      >
    </p>
    {% if balancetopay == 0 %}
    <p>payment id: <strong class="text-danger">{{order.payment_id}}</strong></p>
    {%endif%}
    <p>
      amount paid using wallet:
      <strong class="text-danger">{{order.wallet_amount}} </strong>
    </p>

    {%if order.deliverycharge > 0 %}
    <p>delivery charge: <strong class="text-danger">{{order.deliverycharge}}</strong></p>
    {%else%}
    <p>delivery charge: <strong class="text-danger">free delivery</strong></p>
{%endif%}

    <p>
      balance amount to pay:
      <strong class="text-danger">{{ balancetopay }}</strong>
    </p>

    {%if order.payment.amountpaid%}

    <p>transaction id : {{order.payment.paymentid}}</p>
    {%endif%}
  </div>
</div>
{%endif%}

{%endblock%} 


{%block script%}
<script>
  $(document).ready(function () {
    // Handle change event on select elements with class "status"
    $(".status").change(function () {
      // Get the selected value (status) and the associated order ID from the "id" attribute
      var selectedStatus = $(this).val();
      var orderId = $(this).attr("id");

      // Create an object to hold the data
      var data = {
        status: selectedStatus,
        orderId: orderId,
        csrfmiddlewaretoken: $("[name=csrfmiddlewaretoken]").val(), // Include the CSRF token
      };

      // Send the data to the server using AJAX
      $.ajax({
        type: "POST", // You can change the HTTP method if needed
        url: "{% url 'orderstatus' %}", // Replace with your server endpoint URL
        data: data,
        success: function (data) {
          if (data.is_valid) {
            setTimeout(function () {
              location.reload();
            }, 1000);
          }
        },
        error: function (error) {
          console.error(error);
          alert(error);
        },
      });
    });
  });
// cancel item
$(document).ready(function () {
  var itemId;

  // Handle "Cancel Item" button click
  $(".cancel-item-button").click(function () {
    itemId = $(this).data("item-id");
  });

  // Handle form submission
  $("#cancelConfimationForm").on("submit", function (event) {
      event.preventDefault();

      var formData = new FormData(this);

      var formData = new FormData(this);
    formData.append("itemId", itemId);

      $.ajax({
        type: "POST",
        url: '{% url "cancelorder" %}',
        data: formData,
        processData: false,
        contentType: false,
        success: function (data) {
          if (data.is_valid) {
         

            setTimeout(function () {
              location.reload();
            }, 1000);
          } else {
            alert('hu')
          }
        },
        error: function () {
          alert('hkjhkju')

        },
      });
    });
});



</script>

{%endblock%}